@use '../variables' as vars;

.product-item {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  border-bottom: 1px solid vars.$border-color;
  padding: 4px 0;

  &:last-of-type {
    border-bottom: none;
  }

  @media (min-width: vars.$breakpoint-lg) {
    gap: 20px;
    padding: 10px 0;
  }

  .product-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    overflow: hidden;

    img {
      max-width: 100%;
      object-fit: contain;
    }

    @media (min-width: vars.$breakpoint-md) {
      width: 100px;
      height: 100px;
    }

    @media (min-width: vars.$breakpoint-lg) {
      width: 130px;
      height: 130px;
    }
  }

  .product-infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;

    @media (min-width: vars.$breakpoint-md) {
      flex-direction: row;

      .sm-col {
        width: 50%;
      }

      .md-col {
        width: 75%;
      }

      .lg-col {
        width: 100%;
      }

      .xl-col {
        width: 50%;
      }
    }

    h3 {
      font-size: 16px;
      font-weight: 500;
    }

    .product-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media (min-width: vars.$breakpoint-md) {
        flex-direction: row;
        gap: 0;
        width: 100%;
      }

      .inner-details {
        display: flex;
        flex-direction: column;

        @media (min-width: vars.$breakpoint-md) {
          flex-direction: row;
          width: 100%;

          &:last-of-type {
            width: 75%;
          }
        }

        &:last-of-type {
          align-items: flex-end;
        }

        span {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    h4 {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .product-actions {
    display: none;

    @media (min-width: vars.$breakpoint-md) {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}