// Variables
@use './variables' as vars;

// Base styles
@use './base/btn';
// @import './base/typography';

// Components
@use './components/header';
@use './components/sidebar';
@use './components/category-badge';
@use './components/product-list-item';
@use './components/product-modals';
// @import './components/buttons';

// Layouts
// @import './layouts/grid';

// Pages
@use './pages/home';
@use './pages/register-login';
// @import './pages/dashboard';

// Utilities
// @import './utilities/helpers';

/* Styles globaux */
:root {
  --primary-color: #4f46e5;
  --secondary-color: #818cf8;
  --text-color: #1f2937;
  --background-color: #fafafa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', 'Avenir', Helvetica, Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media (min-width: vars.$breakpoint-lg) {
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 1rem 1rem 0;
  }
}

.public-content {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.content {
  flex: 1;
  padding: 10px;
  max-width: 100%;

  @media (min-width: vars.$breakpoint-md) {
    padding: 20px;
  }
}

.app-content {
  background-color: white;
  box-shadow: vars.$shadow-lg;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.full-width {
  margin-left: 0;
}

/* Si on est sur une page d'authentification, prendre toute la largeur */
#app:has(.auth-page) .content {
  margin-left: 0;
}

/* Animation de transition entre les pages */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}